.center-component-container__project{
  background-color: white;
  width: 756px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 100vh;
  height: calc(100vh - 80px);
}

.center-component-container__project__title{
  width: 744px;
  -ms-flex-item-align: left;
  align-self: left;
  /* justify-self: flex-start; */
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: white;
  z-index: 90;
}

.center-component-container__project__title__wrapper{
  width: 90%;
  margin-left: 2.4rem;
  /* padding-left: 2.4rem; */
  padding-right: 2.4rem;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  border-bottom: 2px solid #f2f4f9;
}

.center-component-container__project__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 2.4rem;
}

.center-component-container__project__content__menu{
  margin-top: 0px;
}

.center-component-container__project__timeline{
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.center-component-container__project__content__step{
  margin-bottom: 2.4rem;
}
