html, body{
  font-size: 62.5%;
  height: 100vh;
  // overflow: hidden;
}

/* Width Default*/
.container{
  max-width: 1170px;
  padding: 0 16px;
  margin: 0 auto;
}

#browserRouterDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.center-component-container{
  background-color: white;
  width: 756px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  overflow-y: auto;
  overflow-x: hidden;
}

.water-mark{
  text-align: center;
  align-self: center;
  font-size: 3.2rem;
}
